
   <div class="container">
     <div class="row justify-content-center">
       <div class="col-md-5">

          
            <h3> Say hi, don't be shy.</h3>
            <br>

            <form method="post" action="./contact">
              
                {{#each errorMessages}}
                    <div class="alert alert-danger">
                      {{this.param}} : {{this.msg}}
                    </div>
                {{/each}}

                <div class="mb-3">
                  <label class="form-label">Name</label>
                  <input type="text" class="form-control" placeholder="Your Name" name="name" value={{name}}>
                </div>
                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input type="email" class="form-control" placeholder="Email" name="email" value={{email}}>
                </div>
                <div class="mb-3">
                  <label>Message</label>
                  <textarea row="3" class="form-control" name="message">{{message}}</textarea>
                </div>

                <div class="mb-3">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </form>


       </div>
     </div>
   </div>

